.navbar{
  background-color: black;
  height: 80px;
  opacity: 1;
  width: 90%;
  box-shadow: 0 11px 20px rgba(0,0,0,0.6), 0 10px 10px rgba(0,0,0,0.6);
}
a{
  color: seagreen;
}
a:hover, a:active{
  color: white;
}
#close-btn{
  border: none;
  color: seagreen;
  font-weight: 800;
  font-size: 28px;
  right: 2%;
  position: absolute;
}
.nav-logo{
  width: 10%;
}
.nav-img{
  width: 100%;
  height: 80px;
}
.top-nav{
  display: flex;
}
.nav-btn{
  background: none;
  color: seagreen;
  font-weight: 600;
  border: none;
  padding-left: 1;
  font-size: 14px;
  width: 10%;
  cursor: pointer;
  transition: .35s ease-in-out;
  border-left: 1px solid transparent;
}
#special-char{
  font-size: 18px;
  font-weight: 800;
  color: #ffbf00;
}
.nav-btn:hover{
  color: #ffffff;
  border-left: 1px solid #ffffff;
}
.quicklinks{
  position: fixed;
  top: 30%;
  right: 0%;
  width: 2.5%;
  z-index: 100;
  padding: .5%;
  opacity: 1;
  background: seagreen;
  border-radius: 5%;
  cursor: pointer;
  border: 1px solid black;
  opacity: .89;
}
.ql-btn{
  color: black;
  opacity: .55;
  font-size: 25px;
  padding: 1% !important;
  transition: .3s ease-in-out;
}
.ql-btn:hover{
  opacity: 1;
  color: #ffbf00;
}
.bet{
  display: none;
  position: fixed;
  margin: 6.2% 0 0 68%;
  z-index: 5;
  height: 365px;
  width: 350px;
  background: white;
  opacity: .89;
  box-shadow: 2px 15px 25px black
}
#bet-text{
  text-align: center;
  position: absolute;
  margin: 15%;
}
#bet-text-divider{
  color: seagreen;
  border-color: seagreen;
  background: seagreen;
}
#bet-header-text{
  font-size: 20px;
}
#the-bet{
  font-weight: 600;
}
#bet-record{
  font-weight: 600;
}
