.navbar{
  background-color: black;
  height: 80px;
  opacity: 1;
  width: 90%;
  overflow-x: hidden;
}
#win{
  color:green;

}
#lost{
  color:red;
}

a{

  color: seagreen;
}
a:hover, a:active{
  color: white;
}
#close-btn{
  border: none;
  color: seagreen;
  font-weight: 800;
  font-size: 28px;
  right: 2%;
  position: absolute;
}
.nav-logo{
  width: 10%;
}
.nav-img{
  width: 100%;
  height: 80px;
}
.top-nav{
  display: flex;
}
.nav-btn{
  background: none;
  color: seagreen;
  font-weight: 600;
  border: none;
  padding-left: 1;
  font-size: 14px;
  width: 7%;
  cursor: pointer;
  transition: .35s ease-in-out;
  border: 1px solid transparent;
}
#special-char{
  font-size: 18px;
  font-weight: 800;
  color: #ffbf00;
}
.nav-btn:hover{
  color: #ffffff;
  border: 1px solid seagreen;
}
.quicklinks{
  position: absolute;
  margin: 22% 0 0 48%;
  width: 40%;
  z-index: 100;
  padding: .5%;
  cursor: pointer;
  opacity: .89;
  display: inline-flex;
}
.ql-btn{
  width: 25%;
  color: black;
  opacity: .55;
  font-size: 75px;
  padding: 1% !important;
  transition: .3s ease-in-out;
}
.ql-btn:hover{
  opacity: 1;
  color: #ffbf00;
}
.bet{
  display: none;
  position: fixed;
  margin: 6.2% 0 0 64%;
  z-index: 5;
  height: 375px;
  width: 475px;
  background: white;
  opacity: .9;
  overflow-y: scroll;
  box-shadow: 2px 15px 25px black;
  cursor: grab;
}
#bet-text{
  text-align: left;
  position: absolute;
  margin: 8%;
}
#bet-text-divider{
  color: seagreen;
  border-color: seagreen;
  background: seagreen;
}
#bet-header-text{
  font-size: 20px;
}
#the-bet{
  font-weight: 600;
}
#bet-record{
  font-weight: 600;
}
.quote{
  display: none;
  position: fixed;
  margin: 6.2% 0 0 68%;
  z-index: 5;
  height: 375px;
  width: 350px;
  background: white;
  opacity: .89;
  overflow-y: scroll;
  box-shadow: 2px 15px 25px black;
  cursor: grab;
}
#quote-text{
  text-align: left;
  position: absolute;
  margin: 15%;
}
#quote-text-divider{
  color: seagreen;
  border-color: seagreen;
  background: seagreen;
}
#quote-header-text{
  font-size: 20px;
}
#the-quote{
  font-weight: 600;
}
#quote-record{
  font-weight: 600;
}


@media only screen and (max-width: 600px) {

  .nav-btn{
    font-size: 10px;
    height: 60px;
  }
  #special-char{
    display: none;
  }
  .nav-img{
    height: 60px;
    overflow-x: hidden;
  }
  .navbar{
    height: 60px;

  }
  .quicklinks{
    position: absolute;
    margin: 62% 0 0 48%;
    width: 40%;
    z-index: 100;
    padding: .5%;
    cursor: pointer;
    opacity: .89;
    display: inline-flex;
  }
  .ql-btn{
    width: 25%;
    color: black;
    opacity: .55;
    font-size: 40px;
    padding: 1% !important;
    transition: .3s ease-in-out;
  }

}
