.title#footer{
  background-color: seagreen;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-right: 1%;
}
.footer-section{
  height: 50px;
  background: black;
}
.signature{
  color: whitesmoke;
  padding-right: 1%;
  text-align: right;
}
#signname{
  font-family: 'Satisfy', sans-serif;
  padding-left: .5%;
  color: #ffbf00;
}
#club{
  color: #ffbf00;
  height: 25px;
  width: 25px;
  padding: 3px;
}

@media only screen and (max-width: 800px) {
  .footer-section{
    height: 25px;
    background: black;
  }
}
