.art-section{
  height:500px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-image: url('https://images.pexels.com/photos/1282315/pexels-photo-1282315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
.title#art{
  
}
