.art-section{
  height: 800px;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-image: url('https://i.ibb.co/jgcPShJ/background-carpentry-construction-326333.jpg');
}
.title#art{
  color: seagreen;
  text-align: left;
  padding-top: 1%;
  margin-left: 40%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 72px;
  text-shadow: 4px 3px 0px #49230E, 9px 8px 0px rgba(0,0,0,0.75);
}

.gallery-container{
  display: flex;
  margin: 5% auto;
  width: 100%;
}
.gallery-container2{
  display: flex;
  margin: 5% auto;
  width: 100%;
}
.art-piece{
  width: 22.5%;
  margin-left: 2%;

  background: #D4af37;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}
#overlay{
  width: 100%;
  height: 275px;
  position: absolute;
}


#art-img{
  width: 100%;
  height: 235px;
  transition: .55s ease-in-out;
  cursor: grab;
  opacity: 1;
  border: 5px solid whitesmoke;
}

#art-img:hover{
  transform: scale(1.15);
  border: 5px solid #ffffff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}
#art-img2{
  width: 100%;
  height: 235px;
  transition: .55s ease-in-out;
  cursor: grab;
  border: 5px solid #ffffff;
  opacity: 1;
}

#art-img2:hover{
  transform: scale(1.15);
  border: 5px solid whitesmoke;
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.20);
}
