.main-bg{
  background-color: white;
}
.web-design-title{
  height: 200px;
  border-bottom: 20px solid seagreen;
  background-color: black;

}
.vision-title{
  color: seagreen;
  text-align: center;
  padding-top: 2%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 42px;
  text-shadow: 4px 3px 0px black, 9px 8px 0px rgba(255,255,255,0.25);
}
.title-desc-design{
  color: white;
  text-align: center;
}
.design-1{
  height: 850px;
}
.design-1-title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  margin-left: 30%;
  margin-top : 6%;
  font-size: 42px;
}
.design-2{
  height: 950px;
  background-color: orange;
  border-top: 20px solid orange;
}
.design-2-title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  color: white;
  margin-left: 2%;
  margin-top : 3%;
  font-size: 80px;
  transform: rotate(-10deg);
}
.design-2-titleline{
  color: white;
  background: white;
  border-color: white;
  height: 5px;
  width: 200px;
  margin-left: 10%;
}
.design-2-header{
  background-image: url('https://images.pexels.com/photos/2232/vegetables-italian-pizza-restaurant.jpg');
  background-size: cover;
  height: 480px;
}
.design-2-deal{
  height: 225px;
  width: 350px;
  position: absolute;
  border: 12px double white;
  margin: 10% 0 0 60%;
  background-color: orange;
}
.the-deal{
  padding: 5%;
  font-size: 24px;
  font-family: 'Permanent Marker', cursive;
  opacity: .85;
}
.design-2-navbar{
  display: flex;
  width: 100%;
  background: black;
}
.design-2-navbtn{
  margin: 5%;
  font-weight: 600;
  font-size: 22px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 3%;
  color: #fff;
  transition: .3s ease-in-out;
  cursor: pointer;
  width: 20%;
  text-align: center;
}
.design-2-navbtn:hover{
  color: orange;
  border-left: 3px solid orange;
  border-right: 3px solid orange;
}
.design-3{
  height: 850px;
  background-color: whitesmoke;
}
.design-3-title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  margin-left: 30%;
  margin-top : 6%;
  font-size: 42px;
}
.design-4{
  height: 850px;
  background-color: #aaa;
}
.design-4-title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  margin-left: 30%;
  margin-top : 6%;
  font-size: 42px;
}
.design-5{
  height: 850px;
  background-color: #fff;
  border-bottom: 10px solid black;
}
.design-5-title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  margin-left: 30%;
  margin-top : 6%;
  font-size: 42px;
}



.code-design{
  height: 850px;
}
.code-test-title{
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  margin-left: 30%;
  margin-top : 6%;
  font-size: 42px;
}
.code-test-div{
  position: absolute;
  height: 300px;
  width: 300px;
  border: 2px solid #aaa;
  margin-left: 35%;
  margin-top : 14%;
  transition: .3s ease-in-out;
}
.code-test-btn{
  margin: 5% 0 0 33%;;
}
.test-display{
  height: 165px;
  width: 175px;
  border: 2px solid #aaa;
  margin: 8% 0 0 20%;;
  transition: .3s ease-in-out;
}
.code-test-div:hover{
  border-color: black;
}
.test-display:hover{
  border-color: blue;
}
.code-test-div:hover .test-display{
  background: rgba(0,23,233,.5);
}
