.carousel-section{
  background: whitesmoke;
  height: 650px;
  width: 100%;
  margin-top: 0%;
  display: none;
}
.title#highlights{
  color: seagreen;
  text-align: left;
  padding-top: 6%;
  margin-left: 20%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 68px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}
.carousel-container{
  background: whitesmoke !important;
  opacity: 1 !important;
  margin-top: -3%;
  overflow: visible !important;

}
.carousel-indicators{
  position: absolute !important;
  margin: -32% auto !important;
  color: seagreen !important;
  width: 100%;
}
.carousel-inner{
  font-size: 20px;
  text-align: center;
  margin: 8% auto;
  position: absolute;

}
.carousel-indicators li{
  background: seagreen;
  width: 1.5%;
  margin: 1%;
  height: .2px;
 }
 .carousel-control-next, .carousel-control-prev{
   display: none;
 }
 .team-container{
   display: flex;
   padding: 2%;
   justify-content: center;
   height: 350px;
   overflow: visible !important;
}
.team{
  margin: 1%;
}
.art-container{
  display: flex;
  margin-top: -3%;
  padding: 2%;
  justify-content: center;
  height: 350px;
  overflow: visible !important;
}
.artwork{
 margin: 1%;
}
.project-container{
  margin-top: -3%;
  display: flex;
  padding: 2%;
  justify-content: center;
  overflow: visible !important;
}
.project{
  margin: 1%;
}
.project-desc{
  position: absolute;
  margin-top: 1%;
  margin-left: 10%;
  width: 50%;
  text-align: left;
}
#sports-logo{
  height: 135px;
  width: 135px;
  transition: .3s ease-in-out;
  cursor: pointer;
  border-radius: 20%;

}
#sports-logo:hover{
  transform: scale(1.175);

}

img#sports-logo:hover ~ span.team-name#cowboys{
  color: navy
}
img#sports-logo:hover ~ span.team-name#lakers{
  color: purple
}
img#sports-logo:hover ~ span.team-name#yankees{
  color: navy
}
img#sports-logo:hover ~ span.team-name#devils{
  color: red
}
img#sports-logo:hover ~ span.team-name#brooklyn{
  color: white;
  background: black;
  padding: 1%;
  border-radius: 10%;
}
img#sports-logo:hover ~ span.team-name#duke{
  color: blue
}
img#sports-logo:hover ~ span.team-name#notre{
  color: gold
}
img#sports-logo:hover ~ span.team-name#warriors{
  color: lightblue
}

.team-name{
  font-family: 'Satisfy', sans-serif;
  position: relative;
  top: 7%;
  color: black;
  transition: .35s ease-in-out;
}
.team-info{
  display: none;
  position: absolute;
  border-radius: 2%;
  border: 1px solid seagreen;
  z-index: 101;
  height: 175px;
  opacity: .9;
  width: 35%;
  color: seagreen;
  padding: 3%;
  margin: 5% 0 0 57%;
  transition: .35s ease-in-out;
}
#dallas-img{
  height: 225px;
  width: 215px;
  opacity: .65;
  margin-top: 1%;
  transition: .35s ease-in-out;
  cursor: crosshair;
  border-radius: 2%;
}
.project-name{
  color: #e8b923;
  text-align: left;
  text-shadow: ;
  padding-top: 1%;
  margin-left: 20%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 42px;
  text-shadow: 1px 1px 1px black;
}
.dallas-appreciation-title{
  color: #e8b923;
  text-align: left;
  text-shadow: ;
  padding-top: 1%;
  margin-top: 16%;
  margin-left: 35%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
  position: absolute;
}
.team-sect-title{
  color: #e8b923;
  text-align: left;
  text-shadow: ;
  padding-top: 1%;
  margin-top: 15.8%;
  margin-left: 32%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 1px black;
  position: absolute;
}
#project-img{
  height: 325px;
  width: 335px;
  border-radius: 2%;
  margin-left: 60%;
  margin-top: -3.1%;
}
.team-sect-title{
  position: absolute;
}

#dallas-img:hover{
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .title#highlights {
    color: seagreen;
    text-align: left;
    padding-top: 15%;
    margin-left: 18%;
    font-weight: bolder;
    font-family: 'Satisfy', sans-serif;
    font-size: 40px;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  }

}
