canvas{
  height: 350px !important;
  width: 100%;
}
.title#header{
  font-size: 64px;
  text-shadow: 0px 1px 2px seagreen;
  margin-left: -15%;
  font-weight: 900;
}

#title-letter{
  transition: .15s ease-in-out;
  cursor: cell;
  font-family: 'Satisfy', sans-serif;
}
#title-letter:hover{
  color: seagreen;
}
#title-dot{
  transition: .15s ease-in-out;
  text-shadow: 0px 0px 0px black;
  cursor: cell;
  font-size: 13px;
  padding: .4%;
}
#title-dot:hover{
  color: seagreen;
}
.title-container{
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  height: 400px;
  width: 100%;
  opacity: .64;
  background-image: url('https://images.pexels.com/photos/5049/forest-trees-fog-foggy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 30% 90%, 0 100%, 0 0);
}
.title-box{
  position: absolute;
  margin-top: 5%;
  margin-left: 16.5%;
}


.desc-item{
  padding: 2%;
  transition: .35s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  text-shadow: 0px 1px 1px transparent;
}
.desc-item#mid{
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.desc-item:hover{
  color: seagreen;
  text-shadow: 0px 1px 1px rgb(0,0,0);

}
