.dev-section{
  height: 500px;
}
.title#dev{
  color: seagreen;
  text-align: center;
  padding-top: 2%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 42px;
}
.skill{
  color: whitesmoke;
  font-size: 20px;
}
.skill-title{
  color: #ffbf00;
  font-family: 'Satisfy', sans-serif;
  font-weight: bolder;
}
.dev-info-container{
  display: flex;
}
.dev-fields{
  width: 22%;
  margin-top: 4%;
  margin-left: 2%;
  padding: 1%;
  border: 1px solid whitesmoke;
  height: 250px;
  transition: .35s ease-in-out;
  opacity: .85;
 }
#dev-info-line{
  border: 1px solid seagreen;
  width: 30%;
  margin-left: 0%;
  transition: .35s ease-in-out;
}
.dev-fields:hover #dev-info-line{
  width: 45%;
}

.dev-fields:hover{
  transform: scale(1.05);
  opacity: 1;
  border-color: white;
}

.dev-design-line{
  position: absolute;
  border: 5px solid seagreen;
  z-index: -1;
  overflow: hidden;
  transition: .45s ease-in-out;
}
.dev-design-line#first{
  width: 20%;
  margin-top: 3%;
}
.dev-design-line#second{
  width: 35%;
  margin-top: 31%;
}

.dev-section:hover .dev-design-line#first{
  width: 35%;
}
.dev-section:hover .dev-design-line#second{
  width: 100%;
}
