.dev-section{
  height: 700px;
}
.title#dev{
  color: seagreen;
  text-align: center;
  padding-top: 2%;

  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 68px;
  text-shadow: 4px 3px 0px black, 9px 8px 0px rgba(255,255,255,0.25);

}
.skill{
  color: whitesmoke;
  font-size: 20px;
}
.skill-title{
  color: #ffbf00;
  font-family: 'Satisfy', sans-serif;
  font-weight: bolder;
}
.dev-info-container{
  display: flex;
}
.dev-fields{
  width: 22%;
  margin-top: 6%;
  margin-left: 2%;
  padding: 1%;
  border: 1px solid #aaa;
  height: 250px;
  transition: .45s ease-in-out;
  opacity: .85;
  cursor: crosshair;
 }
#dev-info-line{
  border: 1px solid seagreen;
  width: 30%;
  margin-left: 0%;
  transition: .35s ease-in-out;
}
.dev-fields:hover #dev-info-line{
  width: 45%;
}

.dev-fields:hover{
  transform: scale(1.05);
  opacity: 1;
  border-color: white;
}

.dev-design-line{
  position: absolute;
  border: 5px solid seagreen;
  z-index: -1;
  overflow: hidden;
  transition: .45s ease-in-out;
}
.dev-design-line#first{
  width: 22%;
  margin-top: 4%;
}
.dev-design-line#second{
  width: 35%;
  margin-top: 43.5%;
}

.dev-section:hover .dev-design-line#first{
  width: 30%;
}
.dev-section:hover .dev-design-line#second{
  width: 100%;
}

.web-design-btn:hover{
  color: #FFFFFF !important;
  text-decoration: none !important;
  background: seagreen;
  transition: .35s ease-in-out;
  font-weight: bold;
}
.web-design-btn{
  position: absolute;
  margin-top: 5%;
  margin-left: 42%;
  font-size: 21px;
  border: 2px solid seagreen;
  padding: .5%;
}
