.sports-section{
  height: 420px;
  background: whitesmoke;
}

.title#sports{
  color: seagreen;
  text-align: left;
  text-shadow: ;
  padding-top: 1%;
  margin-left: 20%;
  font-weight: bolder;
  font-family: 'Satisfy', sans-serif;
  font-size: 68px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.fantasy-sport{
  position: absolute;
  margin-top: 1.18%;
  padding: 1%;
  width: 20%;
  display: inline-block;
  transition: .35s ease-in-out;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  cursor: crosshair;
  height: 300px;
  opacity: .70;
}
.sport-btn-title{
  font-family: 'Satisfy', sans-serif;
  font-size: 40px;
  width: 100%;
  position: absolute;
  margin-left: -48%;
  margin-top: 35%;
  transform: rotate(-14deg);
}
.sport-btn-title#ff{
  color: seagreen;
}
.sport-btn-title#fbb{
  color: gold;
}
.sport-btn-title#fb{
  color: seagreen;
}
.sport-btn-title#nbl{
  color: black;
  transform: rotate(0deg);
}
.fantasy-sport#ff{
  margin-left: 7%;
  background: rgb(255,215,0,1);
}
.fantasy-sport#fbb{
  margin-left: 29%;
  background: rgba(46,139,87,1);
}
.fantasy-sport#fb{
  margin-left: 51%;
  background: rgba(0,0,0,1);
}
.fantasy-sport#nbl{
  margin-left: 73%;
  color: seagreen;
  border: 1px solid seagreen;
}
.fantasy-sport:hover{
  color: #ffbf00;
  opacity: 1;
  font-weight: 600;
}
.fantasy-sport#nbl:hover{
  background-color: red;
  color: #ffbf00;
  font-weight: 600;
  cursor: not-allowed;

}
