
.body-section{
  margin-top: 2%;
  height: 450px;
  background: seagreen;
  clip-path: polygon(30% 0, 100% 10%, 100% 100%, 0 100%, 0 100%, 0 8%);
  display: flex;
}
.bio-line#first{
  border: 4px solid #ffffff;
  position: absolute;
  width: 260px;
  margin: 11% 0% 0% -1%;
  z-index: -1;
  transform: rotate(-6deg);
  box-shadow: 0 6px 15px rgba(0,0,0,0.22), 0 5px 5px rgba(0,0,0,0.22);
}

.bio-line#second{
  border: 4px solid #ffffff;
  position: absolute;
  width: 260px;
  margin: 17% 0% 0% -1%;
  z-index: -1;
  transform: rotate(-6deg);
  box-shadow: 0 6px 15px rgba(0,0,0,0.22), 0 5px 5px rgba(0,0,0,0.22);
}

.bio-logo{
  height: 300px;
  width: 320px;
  border: 4px solid #e4e4e4;
  border-radius: 80%;
  margin-left: 15%;
  margin-top: 3%;
  transition: .35s ease-in-out;
  opacity: 1;
  box-shadow: 0 11px 20px rgba(0,0,0,0.33), 0 10px 10px rgba(0,0,0,0.33);
}
.bio-img{
  border-radius: 100%;
  height: 100%;
  width: 100%;
  opacity: .85;

}
.bio-logo:hover{
  opacity: 1;
}

.mini-bio:hover .bio-line{
}

.bio-img{
  opacity: 1;
}
.mini-bio{
  color: #e4e4e4;
  width: 50%;
  padding-left: 4%;
  height: 175px;
  font-style: italic;
  font-size: 23px;
  margin-top: 7.5%;
  margin-left: 4%;
  border-left: 5px solid #e4e4e4;
  border-radius: 0%;
}
#career{
  font-weight: bolder;
  display: inline-block;
  transition: .25s ease-in-out;
  padding: .4%;
  cursor: alias;
  color: #e8b923;
  text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 600px) {
  .bio-line {
    display: none;
  }
  .title-container{
    position: relative;
    height: 250px;
  }
  .title#header{
    font-size: 38px;
  }
  .mini-bio{
    font-size: 13.4px;
    margin-top: 13%;
    padding-left: 3%;
    border-left: 3px solid white;
    width: 55%;
    height: 183px;
  }
  .bio-logo{
    height: 150px;
    width: 150px;
    border: 2px solid #e4e4e4;
    border-radius: 2%;
    margin-left: 3%;
    margin-top: 16%;
    transition: .35s ease-in-out;
    opacity: 1;
    box-shadow: 0 11px 20px rgba(0,0,0,0.33), 0 10px 10px rgba(0,0,0,0.33);
  }
  .bio-img{
    border-radius: 2%;
  }
  .body-section{
    height: 300px;
  }
  .nav-btn{
    font-size: 10px;
  }
}
